html {
background-color: hsl(0, 0%, 70%); 
font-family: sans-serif;
}

.page-name {
color: white;
}

.food-tag {
    border-style: solid;
    border-width: 4px;
    border-color: #555;
    border-radius: 10px;
    padding: 12px; 
    display: inline-block;
}

.ingrediant-tag {
list-style-type: square;
}

.course-hours {
font-size: 14px;
    }

.course-name {
   
}

.course-dish {
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  padding: 12px;
  border-color:black;

     }

.course {
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  padding: 12px;
  border-color:black;
 
}